.topo {
  background-color: #000 !important;
  height: 100px;
}

.sigla,
.titulo {
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
}

.sigla h1 {
  font-size: 5em;
  margin: 0.1em 0.2em;
}

.titulo {
  text-align: center;
  line-height: 3em;
}

.logout {
  width: 50px;
}

.logout>button {
  margin: 2em 0;
}

@media screen and (max-width: 700px) {
  .sigla h1 {
    font-size: 3em;
    margin: 0.6em 0.2em;
  }
}

@media screen and (max-width: 550px) {
  .sigla {
    display: none;
  }
  .titulo {
    line-height: 2em;
  }
}