<app-block [show]="requisicao"></app-block>
<div class="p-grid forms-grid lista">
  <div class="p-offset-1 p-col-10">
    <p-card header="Listagem de Clientes" subheader="clientes" styleClass="ui-card-shadow">

      <div class="p-grid">
        <div class="p-col-12">
          <form novalidate>
            <div class="p-grid">
              <div class="p-col2">
                <div class="p-field ui-fluid">
                  <span class="ui-float-label">
                    <input [(ngModel)]="filtro.nome" [ngModelOptions]="{standalone: true}" pInputText>
                    <label for="float-input">Nome:</label>
                  </span>
                </div>
              </div>
              <div class="p-col2" style="margin-left: 1em;">
                <div class="p-field ui-fluid">
                  <span class="ui-float-label">
                    <p-calendar [yearNavigator]="true" yearRange="1960:2040" [readonlyInput]="true" [(ngModel)]="filtro.nascimento" [ngModelOptions]="{standalone: true}"></p-calendar>
                    <label for="float-input">Data de Aniversário:</label>
                  </span>
                </div>
              </div>
              <div class="p-col2" style="margin-left: 1em;">
                <div class="p-field ui-fluid">
                  <button pButton type="button" label="Pesquisar" (click)="filtrar()"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-11">
          <ng-container *ngIf="clientes$ | async as clientes; else loading">
            <p-table [paginator]="true" [rows]="10" [value]="clientes" selectionMode="single" dataKey="id" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnSelect($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Idade</th>
                  <th>Telefone</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-cliente>
                <tr [pSelectableRow]="cliente">
                  <td>{{cliente.nome}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{getIdade(cliente.data_nascimento)}}</td>
                  <td>{{cliente.telefone | phone}}</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>

          <ng-template #loading>
            <div class="ui-g-12 loading">
              <div class="ui-g-2 ui-g-offset-5">
                <p><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i></p>
                <p>Carregando Clientes...</p>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="p-col-1">
          <button pButton type="button" icon="pi pi-plus" class="ui-button-success ui-button-raised ui-button-rounded actionButton" (click)="cadastrar()" pTooltip="Cadastrar Cliente" tooltipPosition="top"></button>
          <button pButton type="button" icon="pi pi-eye" class="ui-button-info ui-button-raised ui-button-rounded actionButton" [ngClass]="{'esmaecer' : !btVisualizar}" (click)="visualizar()" pTooltip="Visualizar Cliente Selecionado" tooltipPosition="top"></button>
        </div>
      </div>


    </p-card>
  </div>
</div>